<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SkyDean.FareLiz.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- Do not expect 100 status for web service -->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <applicationSettings>
    <SkyDean.FareLiz.WinForm.Properties.Settings>
      <setting name="DefaultDurationMax" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="DefaultPriceLimit" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DefaultDurationMin" serializeAs="String">
        <value>7</value>
      </setting>
    </SkyDean.FareLiz.WinForm.Properties.Settings>
  </applicationSettings>
</configuration>